@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

.post {
    padding-bottom: 50px;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.3);
    text-align: center;
    font-family:  Roboto;
    padding: 0px !important;
    padding-bottom: 10px !important;
    margin: 0 5px 25px 5px;

}

.post:hover{
    background-color: #95999c;
}
.post img {
    grid-area: img;
    width: 100%;
    height: auto;

}

.post h2 {
    text-align: left;
    font-family: "Arial ";
    font-weight: bold;
    color: green;
}

.commentare {
    width: 100%;
    margin: auto;
    margin-bottom: 15px;
}
.comment {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    font-size: large;

}
.comment p {
    font-size: 0.7em;
}
.inner-bottom {
    width: 90% !important;
    margin: auto;
}




.nav-link {
   font-style: italic;

}

.nav-link:hover{
    color: #761b18 !important;
}

.title{
    text-align: center;
    margin-bottom: 20px;
}

.navbar{
    background-color: #2a9055;

}

.navbar-brand{
    font-family: 'Pacifico', cursive;
    font-size: 2rem;

}
.navbar-toggler{
    background: #761b18;
    border: none;
    padding: 10px 6px;
    outline: none;

}



.loginHeader {
    background-color: #2a9055;

}
#postCreate {
    max-width: 500px;
    margin:2rem auto;
    border:2px solid #2a9055;
    padding: 2rem;
}



.input-wrapper{
    margin-bottom: 10px;
}
label {
    display: block;
}

input {
    width: 50%;
}

textarea{
    width:100%
}

.submitBt{
    font-weight: bolder;
    border:0!important;
    background: #761b18 !important;
    padding: .5rem!important;
    color:white!important;
    margin:1rem 0!important;
    text-transform: uppercase!important;

 }

#postUpdate{
    max-width: 500px;
    margin:2rem auto;
    border:2px solid #2a9055;
    padding: 2rem;

}

#postUpdate1{
    max-width: 500px;
    margin:2rem auto;
    border:2px solid #2a9055;
    padding: 2rem;

}

#postUpdate img{
    width: 70%;
}

#listCat {
    max-width: 500px;
    margin: 2rem auto;
    border: 2px solid #2a9055;
    padding: 2rem;

}

.catEdit{
    max-width: 500px;
    margin: 2rem auto;
    border: 2px solid #2a9055;
    padding: 2rem;
}

h1{
    text-align: center;
}


.chB{
    min-width: 40px;
}



.btn{
    border: 2px solid black;
}




#add{
    display: block;
    text-align: center;
}

.item{
    border-bottom: 1px solid black;
}

#box{
    margin-top: -2px;
    margin-bottom: 5px;
}

.box{
    margin-top: -2px;
    margin-bottom: 5px;
}


.post-show img{
    height: 100%;
    width: 100%;
}

.footer {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #2a9055;
    opacity: 60%;
    color: white;
    text-align: center;
    overflow: hidden;
}


.post-show  {
    width: 60%;
    margin: auto;
    text-align: center;

}

.post-show {

    text-align: left;
    margin-top: 20px;

}

.exam-show {
    width: 60%;
    margin: auto;
    text-align: center;
    text-align: left;
    margin-top: 20px;

}




.submit{
    margin-bottom: 20px;
    color: black !important;

}

.submit:hover{
    background-color: #1d68a7;

}

.btn{
    margin-bottom: 20px;
    color: black !important;

}

.btn:hover{
    background-color: #1d68a7;

}


.postName{
    font-family: cursive;
    margin-top: 20px;
    text-align: left;

}

.postUvod{
    font-family: "Hind", Arial, Helvetica, sans-serif;
    text-align: center;
    font-weight: bold;
}

.postText{
    font-family: "Hind", Arial, Helvetica, sans-serif;
}

.catText{
    color: #1d68a7;

}

.comName{
    margin-top: 50px;
    text-align: left;
    font-size: larger;
}

.comAutor{
    font-family: cursive;

}

.footer{
    margin-bottom: 3px;
    font-family: "Hind", Arial, Helvetica, sans-serif;
    font-size: small;
}

.edit{
    font-size: x-large;
}

.noCom{
    font-size: small;

}

.title{
    font-family: "Hind", Arial, Helvetica, sans-serif;
}

.log{
    font-weight: bold;
}

a:hover, a:visited, a:link, a:active
{
    text-decoration: none;
}

.postUvod{
    color: black;
}
