/*.posts {
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;

}
.post {
    width: 23%;

}*/

@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

.post {
    padding-bottom: 50px;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.3);
    text-align: center;
    font-family:  Roboto;
    padding: 0px !important;
    padding-bottom: 10px !important;
    margin: 0 5px 25px 5px;

}
.post img {
    grid-area: img;
    width: 100%;
    height: auto;

}

.post h2 {
    text-align: left;
    font-family: "Arial ";
    font-weight: bold;
    color: green;
}

.commentare {
    width: 60%;
    margin: auto;
}
.comment {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}
.comment p {
    font-size: 0.7em;
}
.inner-bottom {
    width: 90% !important;
    margin: auto;
}




.nav-link {
   font-style: italic;

}

.nav-link:hover{
    color: #761b18 !important;
}

.title{
    text-align: center;
}

.navbar{
    background-color: #2a9055;

}

.navbar-brand{
    font-family: 'Pacifico', cursive;
    font-size: 2rem;

}
.navbar-toggler{
    background: #761b18;
    broder: none;
    padding: 10px 6px;
    outline: none;

}

#login{
    resize: horizontal;
    background-color: #761b18;
}

#loginHeader {
    background-color: #2a9055;

}
#postCreate {
    max-width: 500px;
    margin:2rem auto;
    border:2px solid #2a9055;
    padding: 2rem;
}

.input-wrapper{
    margin-bottom: 10px;
}
label {
    display: block;
}

input {
    width: 50%;
}

textarea{
    width:100%
}

#submit{
    font-weight: bolder;
    border:0!important;
    background: #761b18 !important;
    padding: .5rem!important;
    color:white!important;
    margin:1rem 0!important;
    text-transform: uppercase!important;

 }


#listCat {

    max-width: 500px;
    margin: 2rem auto;
    border: 2px solid #2a9055;
    padding: 2rem;
}

h1{
    text-align: center;
}



#btn{
    border: 2px solid black;
}

#btn:hover{
    background-color: #761b18;
}

#add{
    display: block;
    text-align: center;
}

#item{
    border-bottom: 1px solid black;
}

#box{
    margin-top: -2px;
    margin-bottom: 5px;
}


.post-show {
    text-align: center;

}

.post-show img{
    height: 50%;
    width: 50%;
}
